<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
  </head>

  <body>
    <main>
      <% if (products.length > 0) { %>
      <ul class="cart__item-list">
        <% products.forEach(p => { %>
        <li class="cart__item">
          <h1><%= p.productId.title %></h1>
          <h2>Quantity: <%= p.quantity %></h2>
        </li>
        <% }) %>
      </ul>
      <hr />
      <div>
        <a href="/checkout" class="btn"> Order Now !!!</a>
      </div>

      <% } else { %>
      <h1>No Products in Cart!</h1>
      <% } %>
    </main>
  </body>
</html>
